
<div class="container" style="background:#C0C0C0;color:#000;padding-top:0px" >

  <div class="row">
    <div class="col-md-7" style="padding-top:10px" >
   
        <%= image_tag "test5.jpg" %>

    </div>

    <div class="col-md-5">
      <h1>中国科学院大学<meta property="wb:webmaster" content="cd07f9d6e40576b8" /></h1>
      <p>University of Chinese Academy of Sciences</p >
      <p>中国科学院大学（University of Chinese Academy of Sciences），简称“国科大”，是国家教育部正式批准成立的一所以研究生教育为主的科教融合、独具特色的高等学校。国科大的前身是中国科学院研究生院，成立于1978年，是经党中央国务院批准创办的新中国第一所研究生院，培养了中国的第一个理学博士、第一个工学博士、第一个女博士、第一个双学位博士。经教育部批准，国科大从2014年起开始招收本科生。
据2016年12月学校官网显示，国科大形成了由京内4个校区、京外5个教育基地和分布全国的117个研究所组成的“大学校”。学校实行“统一招生、统一教育管理、统一学位授予”和“院所融合的领导体制、师资队伍、管理制度、培养体系”；完善了在集中教学校区完成课程教学和研究所科研实践为主的“两段式”培养模式 ；形成了以国科大为核心和平台、以研究所为基础和延伸的完整教育体系。截至2015年底，国科大在学本科生664名；在学研究生4.45万余名，其中博士生占50%；在学外国留学生1063人，其中外国博士生749人。国科大拥有一支由院系和研究所师资组成的高水平导师队伍，拥有学生开展科研实践的一流科研环境。目前，全校有研究生指导教师14564名，其中院士295人，博士生导师6995名。分布在各研究所的5个国家实验室、82个国家重点实验室、196个中国科学院重点实验室、42个国家工程研究中心/国家工程实验室，以及众多国家级前沿科研项目，为学生培养提供了宏大的科研实践平台。</p>
 
    </div>

  </div>


      

  </div>







